/* Folio scheme */
:root {
  --color-neutral: 255, 251, 245;
  --color-neutral-50: 255, 251, 245;
  --color-neutral-100: 248, 241, 231;
  --color-neutral-200: 234, 224, 210;
  --color-neutral-300: 211, 197, 178;
  --color-neutral-400: 155, 140, 121;
  --color-neutral-500: 112, 97, 81;
  --color-neutral-600: 85, 72, 59;
  --color-neutral-700: 62, 52, 44;
  --color-neutral-800: 40, 34, 30;
  --color-neutral-900: 25, 22, 20;
  --color-primary-50: 251, 241, 232;
  --color-primary-100: 246, 223, 201;
  --color-primary-200: 236, 193, 154;
  --color-primary-300: 223, 157, 104;
  --color-primary-400: 202, 124, 72;
  --color-primary-500: 174, 96, 52;
  --color-primary-600: 145, 74, 36;
  --color-primary-700: 119, 58, 27;
  --color-primary-800: 89, 42, 20;
  --color-primary-900: 63, 30, 15;
  --color-secondary-50: 237, 246, 244;
  --color-secondary-100: 210, 233, 228;
  --color-secondary-200: 168, 212, 203;
  --color-secondary-300: 122, 186, 175;
  --color-secondary-400: 79, 154, 144;
  --color-secondary-500: 51, 124, 116;
  --color-secondary-600: 37, 100, 93;
  --color-secondary-700: 31, 78, 73;
  --color-secondary-800: 25, 57, 54;
  --color-secondary-900: 18, 39, 38;
}
